################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/TestAngular/v15
/ClientNotification/obj/Debug
/ConstantData/bin/Debug/netstandard2.0
/ConstantData/obj/Debug/netstandard2.0
/ConstantData/obj
/DataAcess/bin/Debug
/DataAcess/obj/Debug
/EntityModel/obj/Debug
/IDataAccessComponent/obj/Debug
/MAuthentication/bin/Debug
/MDataObjects/bin/Debug
/MDataObjects/obj/Debug
/ORM/obj/Debug
/packages
/TestAngular/bin
/TestAngular/obj/Debug
/MAuthentication/obj/Debug
/ClientNotificationDataObjects/obj/Debug
