@model  RetailHubWeb.Models.DTOListaProdottiModel
@using System.ComponentModel
@using DataObjects

@using GridMvc.Html

@{

    var vis = Model.DTOListaProdotti.Visibilita;
    ViewBag.Title = "Elenco Prodotti";
}
@section Scripts
{
    <script type="text/javascript" src="../../Scripts/Core/Core.js"></script>
    <link type="text/css" rel="stylesheet" href="../../Scripts/jsGrid/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../Scripts/jsGrid/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="../../Scripts/jsGrid/jsgrid.min.js"></script>

    <script type="text/javascript" src="../../Scripts/ProdottoView/ProdottoController.js"></script>

    <script type="text/javascript">


        function LoadGrid2(newdata) {
            debugger;
            selectedItems = [];
            Prodotti.ListaProdotti = newdata;
            //Setta la proprietà JsGrid con l'oggettone
            $("#jsGrid").jsGrid({
                height: "98%",
                width: "95%",
                sorting: true,
                autoload: false,
                paging: false,
                pageLoading: false,
                filter: true,
                controller: Prodotti,

                rowClick: function(args) {
                    // save selected item
                    selectedItem = args.item;

                    // save selected row
                    $selectedRow = $(args.event.target).closest("tr");

                    // add class to highlight row
                    $selectedRow.backgroundColor = "blue";

                },
                fields: [

                
                    @{
                        foreach (var t in vis)
                        {
                            if (t.Visible)
                            {
                                <text>
                                    { name: "@t.Name", type: "text", width: 150 },
                                </text>
                            }
                        }
                    }
                    {
                        headerTemplate: function() {
                            return "Selezione";

                        },
                        itemTemplate: function(_, item) {
                            return $("<input>").attr("type", "checkbox")
                                .prop("checked", $.inArray(item, selectedItems) > -1)
                                .on("change",
                                    function() {
                                        $(this).is(":checked") ? selectItem(item) : unselectItem(item);
                                    });
                        },
                        align: "center",
                        width: 50
                    }
                ]
            });
            debugger;

            $("#jsGrid").jsGrid("loadData");
        }


        var selectedItems = [];

        var selectItem = function(item) {
            selectedItems.push(item);
        };


        var unselectItem = function(item) {
            selectedItems = $.grep(selectedItems,
                function(i) {
                    return i !== item;
                });
        };

        var deleteSelectedItems = function() {
            debugger;
            if (!selectedItems.length || !confirm("Eliminare gli elementi selezionati?"))
                return;
            Prodotti.DeleteItems(selectedItems);
            getData();
            LoadGrid2(Prodotti.ListaProdotti);
            selectedItems = [];

        };
        var editSelectedItem = function() {
            debugger;
            if (!selectedItems.length)
                return;
            ShowPopup('./Edit/' + selectedItems[0]["ID"], getData);


        }
        var addNewItem = function () {
            debugger;
            ShowPopup('./Edit', getData);
        }
        function getData() {
            Prodotti.GetProdottoByDTOSearch(document.getElementById("txtPartialDescription").value);


        }

    </script>
}

<h2>Elenco Prodotti</h2>
<b></b>

<div style="height: 90%; width: 100%; border-style: solid; border-color: red">
    <div id="editElement">
        
    </div>
    <div id="jsGrid" style="height: 100%; width: 100%; border-style: solid; border-color: yellow">



    </div>
</div>



@section SideBar
{
    <div style="border-color: black; border-style: solid;">
        <b>Ricerca Prodotti</b>
        <input type="text" id="txtPartialDescription" style="width:100% " />
        <input type="button" value="Cerca" onclick="getData()" />
    </div>

    <div style="border-color: black; border-style: solid;">
        <button onclick="deleteSelectedItems()">Elimina Selezione</button>
    </div>
    <div style="border-color: black; border-style: solid;">
        <button onclick="editSelectedItem()">Modifica</button>
    </div>
<div style="border-color: black; border-style: solid;">
    <button onclick="addNewItem()">Nuovo</button>
</div>



}