
@{
    ViewBag.Title = "Albero Categorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albero Categorie</h2>
<div id="alberoCategorie"  data-key="@Model.Key"></div>
@section Scripts
{
    <script type="text/javascript">
        $('#alberoCategorie').jstree({
            "plugins": ["search", "wholerow"],
            'core': {
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? getApiEntryPoint() + "GetChildren" :getApiEntryPoint()  + "GetChildren/" + node.ID;

                    },
                    'data': function (node) {
                        return { 'id': node.ID };
                    }
                }
            }
        });

        $('#alberoCategorie').on('changed.jstree', function (e, data) {
            console.log("=> selected node: " + data.node.id);
        });
    </script>



}